* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#app {
  max-width: 375px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 250px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 20px 20px 20px;
}

.scroll-container {
  overflow-x: auto; /* Горизонтальная прокрутка */
  white-space: nowrap; /* Убирает перенос строк */
  padding-top: 20px; /* Отступ сверху */
  scrollbar-width: none; /* Скрыть полосу прокрутки в Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Скрыть полосу прокрутки в WebKit браузерах (Chrome, Safari) */
}

.scroll-content {
  display: inline-block;
  margin-right: 10px;
  margin-top: 50px;
}

.category {
  box-sizing: border-box;
  border: 1px solid rgb(202, 202, 205);
  border-radius: 100px;
  background-color: white;
  width: 130px;
  height: 52px;
  font-size: 16px;
  color: rgb(202, 202, 205);
  margin-left: 15px;
}

.category:hover {
  border: 0px;
  background-color: rgb(242, 150, 143);
  color: white;
}

.blog-filter-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.blog-details-cards {
  font-size: 14px;
  margin-top: 20px;
  width: 160px;
  height: 210px;
  border-radius: 16px;
  /* Тень в иконках */
  box-shadow: 0px 4px 16px 0px rgba(19, 21, 68, 0.06);
  background: rgb(255, 255, 255);
}

.blog-details-description-text {
  font-size: 10px;
  padding-top: 8px;
  font-weight: 100;
  color: dimgrey;
  width: 150px;
  padding-left: 10px;
}

.blog-description-date {
  padding-top: 5px;
  font-weight: 700;
  font-size: 12px;
  padding-left: 10px;
}

.blog-details-card-img {
  width: 160px;
  height: 114px;
  border-radius: 16px;
}

.like {
  position: absolute;
  padding-left: 130px;
  padding-top: 5px;
  fill: white;
}

.like:hover {
  fill: rgb(207, 0, 0);
}

.menu {
  display: flex;
  justify-content: center;
  gap: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 78px;
  /* border-radius: 32px; */
  backdrop-filter: blur(30px);
  background: rgb(255, 255, 255);
}

.menu-link {
  padding-top: 30px;
  cursor: pointer;
}

.user-page-croll {
  overflow-x: auto; /* Горизонтальная прокрутка */
  white-space: nowrap; /* Убирает перенос строк */
  padding-top: 20px; /* Отступ сверху */
  scrollbar-width: none; /* Скрыть полосу прокрутки в Firefox */
}

.container-for-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-name {
  margin-top: 80px;
  font-size: 18px;
  margin-left: 50px;
  color: palevioletred;
}

.name-user {
  padding-top: 10px;
  font-size: 13px;
  color: gray;
}

.surname-user {
  padding-top: 2px;
  font-size: 13px;
  color: gray;
}

.category-user {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 50px;
  gap: 20px;
}

.link {
  font-size: 14px;
  width: 270px;
  color: rgb(175, 174, 174);
  padding-bottom: 10px;
  border-bottom: 1px solid palevioletred;
}

.link:hover {
  font-size: 16px;
  width: 270px;
  color: rgb(133, 133, 133);
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(190, 24, 80);
  transition: 1s;
}

.exit {
  width: 80px;
  height: 30px;
  background-color: white;
  border: 1px solid rgb(182, 182, 182);
  color: palevioletred;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 100px;
  border-radius: 20px;
}

.exit:hover {
  width: 100px;
  height: 30px;
  background-color: palevioletred;
  border: none;
  color: white;
  font-size: 14px;
  transition: 1s;
}
.change-name {
  color: palevioletred;
  font-size: 12px;
}

.btn-submit {
  margin-top: 10px;
  margin-left: 180px;
  width: 110px;
  height: 30px;
  background-color: white;
  border: 1px solid rgb(182, 182, 182);
  color: palevioletred;
  border-radius: 20px;
}

.btn-submit:hover {
  height: 35px;
  background-color: palevioletred;
  border: none;
  color: white;
  transition: 1s;
}

input[type="text"] {
  border-radius: 10px;
  border: 1px solid rgb(182, 182, 182);
  outline: none;
  margin-left: 20px;
  width: 250px;
  height: 25px;
  padding-left: 20px;
  color: gray;
}

input[type="text"]:focus {
  border-color: palevioletred; /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(155, 155, 155, 0.5); /* Тень при фокусе */
}

input[type="mail"] {
  border-radius: 10px;
  border: 1px solid rgb(182, 182, 182);
  outline: none;
  margin-left: 20px;
  width: 250px;
  height: 25px;
  color: gray;
  padding-left: 20px;
}

input[type="mail"]:focus {
  border-color: palevioletred; /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(155, 155, 155, 0.5); /* Тень при фокусе */
}

.visible-container {
  margin-left: 140px;
  width: 100px;
  height: 40px;
  background-color: rgba(0, 161, 0, 0.8);
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  border-radius: 20px;
  position: fixed;
  z-index: 1000;
  animation: slideIn 1s ease-in-out forwards;
}

.visible-container-false {
  margin-left: 100px;
  width: 200px;
  height: 40px;
  background-color: rgba(172, 3, 3, 0.8);
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  border-radius: 20px;
  position: fixed;
  z-index: 1000;
  animation: slideIn 1s ease-in-out forwards;
}

.change {
  padding-top: 12px;
}

@keyframes slideIn {
  from {
    top: -100px; /* Начальная позиция блока */
  }
  to {
    top: 0; /* Конечная позиция блока */
  }
}

.text-for-favoritepage {
  margin-top: 200px;
  margin-left: 90px;
  color: rgb(98, 114, 114, 0.5);
}

.add-card-favorite {
  color: rgba(221, 2, 39, 0.5);
  background-color: white;
  width: 130px;
  height: 35px;
  margin-left: 120px;
  margin-top: 20px;
  border: 1px solid rgba(221, 2, 39, 0.5);
  border-radius: 25px;
}

.add-card-favorite:hover {
  color: white;
  background-color: rgba(221, 2, 39, 0.5);
  border: none;
}

.remove-card-favorite {
  color: rgba(221, 2, 39, 0.5);
  background-color: white;
  border: 1px solid rgba(221, 2, 39, 0.5);
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 5px;
  width: 90px;
  font-size: 11px;
}

.search-box {
  margin-top: 100px;
  margin-left: 50px;
  width: 250px;
  border-radius: 20px;
  height: 30px;
  padding-left: 20px;
  outline: none;
  border: 0.5px solid gray;
}

.write-note {
  position: fixed;
  margin-left: 280px;
  margin-top: 260px;
  width: 30px;
  height: 30px;
}

input:focus {
  border-color: palevioletred; /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(155, 155, 155, 0.5); /* Тень при фокусе */
}

.notes-list {
  margin-top: 200px;
}

.add-note {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
  border: 0.5px solid gray;
  color: gray;
  background-color: white;
}

.add-note:hover{
  border: none;
  color: white;
  background-color: palevioletred;
}

.container-for-notes{
  margin-left: 25px;
}

.button-delete{
  width: 20px;
  height: 20px;
}

.note{
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 14px;
  border: 0.5px solid rgb(153, 152, 152);
  width: 300px;
  height: 25px;
  border-radius: 5px;
  padding-left: 10px; 
  overflow: hidden; 
}